<footer class="bg-dark text-white pt-5 pb-3 link-inherit small transition">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-3">
        <h6 class="mb-lg-5 mb-2">About Us</h6>
        <ul class="list-unstyled text-muted">
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h6 class="mb-lg-5 mb-2">Start Products</h6>
        <ul class="list-unstyled text-muted">
          <li><a href="#">Mobitrix for WatsApp</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h6 class="mb-lg-5 mb-2">Support</h6>
        <ul class="list-unstyled text-muted">
          <li class="mb-2"><a href="#">Support Center</a></li>
          <li class="mb-2"><a href="#">FAQs</a></li>
          <li class="mb-2"><a href="#">Contact Us</a></li>
          <li class="mb-2"><a href="#">How-to Tutorials</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h6 class="mb-lg-5 mb-2">Newsletter</h6>
        <ul class="list-unstyled text-muted">
          <li class="mb-5">
            <form action="/" class="form-inline flex-nowrap text-nowrap" method="post">
              <div class="form-group mb-0">
                <input type="email" class="form-control rounded-0 bg-transparent text-white" placeholder="* Your Email">
              </div>
              <button type="submit" class="btn btn-light rounded-0">Join Now</button>
            </form>
          </li>
          <li>
            <div class="dropdown">
              <a class="dropdown-toggle h6" href="javascript:;" data-toggle="dropdown" data-target="#dropdownFooterLink" aria-expanded="false">
                Change Language
              </a>
              <div class="dropdown-menu" style="top: auto;bottom: 150%;" id="dropdownFooterLink">
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">English</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-center text-muted">
      <p class="mb-1"><a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Cookies Policy</a> | <a href="#">Refund Policy</a> | <a href="#">About Mobitrix</a></p>
      <p class="mb-0">Copyright (c) 2020 Copyright Holder All Rights Reserved.</p>
    </div>
  </div>
</footer>
