<section>
  <div class="py-5 bg-gray" id="slick-product-guide">
    <div class="container">
      <h2 class="mb-5 text-center">How Mobitrix WhatsApp Transfer Works</h2>
      <div class="row align-items-center">
        <div class="col-lg-5">
          <ul class="list-unstyled list">
            <li class="mb-4 active">
              <div class="d-flex align-items-center">
                <div class="box p-3">
                  <p class="font-weight-bold mb-1">Step1. Amazing Software for you</p>
                  <p class="small mb-0 text-muted">Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
                </div>
                <div class="dot"></div>
              </div>
            </li>
            <li class="mb-4">
              <div class="d-flex align-items-center">
                <div class="box p-3">
                  <p class="font-weight-bold mb-1">Step1. Amazing Software for you</p>
                  <p class="small mb-0 text-muted">Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
                </div>
                <div class="dot"></div>
              </div>
            </li>
            <li>
              <div class="d-flex align-items-center">
                <div class="box p-3">
                  <p class="font-weight-bold mb-1">Step1. Amazing Software for you</p>
                  <p class="small mb-0 text-muted">Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
                </div>
                <div class="dot"></div>
              </div>
            </li>
          </ul>
          <div class="pt-4">
            <a href="#" class="btn btn-primary">Complete Guide</a>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="slick">
            <div>
              <div class="d-flex justify-content-center align-items-center position-relative mx-auto" style="background: url(/images/product/tu4.svg) center no-repeat;height: 420px;background-size: contain;">
                <p class="h2 text-white mb-0">Mobitrix</p>
                <div class="position-absolute" style="right:0;bottom:0;">
                  <img class="img-fluid" src="/images/home/tu3-1.png" alt="">
                </div>
              </div>
            </div>
            <div>
              <div class="d-flex justify-content-center align-items-center position-relative mx-auto" style="background: url(/images/product/tu4.svg) center no-repeat;height: 420px;background-size: contain;">
                <p class="h2 text-white mb-0">Mobitrix</p>
                <div class="position-absolute" style="right:0;bottom:0;">
                  <img class="img-fluid" src="/images/home/tu3-1.png" alt="">
                </div>
              </div>
            </div>
            <div>
              <div class="d-flex justify-content-center align-items-center position-relative mx-auto" style="background: url(/images/product/tu4.svg) center no-repeat;height: 420px;background-size: contain;">
                <p class="h2 text-white mb-0">Mobitrix</p>
                <div class="position-absolute" style="right:0;bottom:0;">
                  <img class="img-fluid" src="/images/home/tu3-1.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
