<section>
  <div class="py-5 text-center">
    <div class="container py-lg-4">
      <h2 class="mb-5">Why Is Mobitrix Your Choice</h2>
      <div class="row justify-content-around">
        <div class="col-lg-3 py-3">
          <div class="d-flex align-items-end justify-content-center mb-4" style="height: 200px">
            <img class="img-fluid" src="/images/tu4.png" alt="">
          </div>
          <h5 class="mb-3">Better Service at a Lower Price</h5>
          <p class="text-muted small">Our software offers a better service at the lowest price on the market.</p>
        </div>
        <div class="col-lg-3 py-3">
          <div class="d-flex align-items-end justify-content-center mb-4" style="height: 200px">
            <img class="img-fluid" src="/images/tu5.png" alt="">
          </div>
          <h5 class="mb-3">Exclusive Technology</h5>
          <p class="text-muted small">Mobitrix works hard to provide specialized technical services through our Advanced Technology.</p>
        </div>
        <div class="col-lg-3 py-3">
          <div class="d-flex align-items-end justify-content-center mb-4" style="height: 200px">
            <img class="img-fluid" src="/images/tu6.png" alt="">
          </div>
          <h5 class="mb-3">24/7/365 Customer Service</h5>
          <p class="text-muted small">Our 24/7/365 customer service support is here whenever you need us to answer your questions about our software.</p>
        </div>
      </div>
    </div>
  </div>
</section>
