@import '~slick-carousel/slick/slick.scss';
@import "./variables";

// slick
.slick-arrow {
  background: rgba(0, 0, 0, 0.64);
  padding: 0.8rem 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-26px);
  border: 0;
  z-index: 19;
  &:hover {
    background: rgba(0, 0, 0, .85);
  }
}
.slick-prev {
  left: 5%;
}
.slick-next {
  right: 5%;
}
.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0;
  button {
    font-size: 0;
    border: none;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    margin: 0 8px;
    padding: 0;
    &:focus {
      border: none;
      outline: none;
    }
  }
  .slick-active button {
    background-color: $primary;
  }
}


#slick-product-guide {
  li {
    cursor: pointer;
    .box {
      border-radius: 12px;
      box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
      position: relative;
    }
    &.active {
      .box {
        background: linear-gradient(to right, #9be1ff, #92c0ff);
        &.text-muted {
          color: #fff !important;
        }
        &::after {
          content: '';
          width: 0;
          height: 0;
          border-left: solid 1rem #92c0ff;
          border-top: solid 0.8rem transparent;
          border-bottom: solid 0.8rem transparent;
          position: absolute;
          top: 50%;
          right: -0.8rem;
          transform: translateY(-0.5rem);
        }
      }
    }
  }
}
