@import "./variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities";
@import "~balloon-css/src/balloon";
@import "~cookies-eu-banner/css/cookies-eu-banner.default.css";

.wf-active body {
  font-family: 'Muli';
}

[aria-label][data-balloon-pos]:after {
  white-space: pre-wrap;
  width: 240px;
}

// global
[data-dev="mobile"] {
  .dev-desktop {
    display: none;
  }
}
[data-dev="desktop"] {
  .dev-mobile {
    display: none;
  }
}
[data-sys="ios"] {
  .sys-win,
  .sys-mac,
  .sys.android {
    display: none;
  }
}
[data-sys="android"] {
  .sys-win,
  .sys-mac,
  .sys.ios {
    display: none;
  }
}
[data-sys="win"] {
  .sys-android,
  .sys-mac,
  .sys.ios {
    display: none;
  }
}
[data-sys="mac"] {
  .sys-android,
  .sys-win,
  .sys.ios {
    display: none;
  }
}
.link-inherit {
  a {
    color: inherit;
  }
}
.link-underline {
  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      color: $primary;
    }
  }
}
.form-control:focus {
  border-color: inherit;
  box-shadow: none;
}
.transition,
.transition * {
  transition: all .2s;
}
h6,
.h6 {
  font-size: 1.125rem;
}
main {
  min-height: 100vh;
}
[data-toggle="dropdown"][aria-expanded="true"]::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: auto;
}
.bg-gray {
  background-color: #f2f7fa;
}
.box-shadow {
  box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
}
.hover-box-shadow:hover {
  box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
}
.hover-unstyled:hover {
  text-decoration: none;
}
.wall {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}
details {
  margin-bottom: 1.5rem;
  background-color: #f2f7fa;
  p {
    padding-left: 1.625rem;
  }
  ul {
    padding-left: 3rem;
  }
  &[open] {
    padding-bottom: 1rem;
    summary {
      color: $primary;
      margin-bottom: 1rem;
      &::before {
        transform: rotate(-45deg);
      }
    }
  }
}
summary {
  position: relative;
  font-size: 1.25rem;
  padding: .5rem 0 .5rem 1.625rem;
  background-color: #E6F2FB;
  &::-webkit-details-marker {
    display: none;
  }
  &::before {
    position: absolute;
    right: 1rem;
    top: .3rem;
    content: '+';
    font-size: 1.5rem;
    display: block;
    transition: all 0.2s linear;
    transform-origin: center;
  }
  &:hover {
    color: $primary;
  }
  &:focus {
    outline: none;
  }
}
ul {
  padding-left: 1.5rem;
}
ul.list-faqs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    position: relative;
    padding-left: 2rem;
    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: url('../../public/images/ad-icon-faq.svg');
      left:0;
      top: 0;
    }
  }
}
.container-md {
  @media (min-width: 992px) {
    max-width: 960px;
  }
}
.bg-linear-primary {
  background: linear-gradient(to right, #5BD0FF, #5091FF);
}
.star-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    width: 1rem;
    height: 1rem;
    text-indent: -9999px;
    margin: 0 0.2rem;
    &:first-child,
    &:last-child {
      margin: 0;
    }
  }
  .star-full {
    background-image: url('data:image/svg+xml,<svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-star-fill" fill="rgba(255,199,48,1)" xmlns="http://www.w3.org/2000/svg"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/></svg>');
  }
}
.btn-purchase {
  background: linear-gradient(to right, #44E0D7, #68FF9F);
  color: $white;
}
.flex-1 {
  flex: 1;
}
// header
header {
  box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
}
.navbar {
  .navbar-brand {
    img {
      height: 26px;
    }
  }
  .navbar-toggler {
    border: none;
    padding: 0;
    &:focus {
      outline: none;
    }
    .navbar-toggler-icon {
      background-size: 1.5rem;
    }
    &[aria-expanded="true"] {
      .navbar-toggler-icon {
        background-image: url('data:image/svg+xml,<svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"></path><path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"></path></svg>');
        background-size: 2rem;
        opacity: 0.5;
      }
    }
  }
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: $danger;
}
#fixed-navbar {
  box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
}

// footer
footer {
  a:hover {
    color: #fff;
    text-decoration: none;
  }
}

// home
#news-and-tips {
  .list {
    li {
      position: relative;
      padding-left: 2rem;
      display: block;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: url('../../public/images/icon-right2.svg') center no-repeat;
        width: 1.5rem;
        height: 1.5rem;
      }
      &:hover {
        a {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }
}
#software {
  .box {
    @media(min-width: 992px) {
      transform: translateY(-20%);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

// purchase
#purchase-banner {
  .list {
    font-size: 14px;
    @media(min-width: 992px){
      display: flex;
    }
  }
  .list li {
    padding-left: 1.5rem;
    background: url('../../public/images/icon-success.svg') left no-repeat;background-size: 1rem;
    margin-right: 1rem;
  }
}
#purchase-cart {
  .countdown {
    .box {
      width: 72px;
      margin: 0 1rem;
    }
    .num {
      font-size: 24px;
      background-color: #F2F7FA;
      color: $primary;
    }
  }
}
// article
article {
  img {
    max-width: 100%;
  }
  h2 {
    font-weight: normal;
  }
  h1, h2, h3, h4, h5, h6, p, ul, img {
    margin-bottom: 1.5rem;
  }
  li {
    margin-bottom: 1rem;
  }
  details {
    padding-bottom: 0;
    border-bottom: 0;
    &[open] {
      margin-bottom: 0;
      padding-bottom: 0;
      summary::after {
        transform: rotate(90deg);
      }
    }
  }
  summary {
    padding: .5rem 1.5rem .5rem 1rem;
    border-left: solid $primary 0.25rem;
    background-color: $secondary;
    &::before {
      display: none;
    }
    &::after {
      @media(min-width: 992px) {
        content: '';
        position: absolute;
        top: .5rem;
        right: 1rem;
        background: url('data:image/svg+xml,<svg class="bi bi-caret-right-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="rgba(0,121,255,1)" xmlns="http://www.w3.org/2000/svg"><path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg>') center no-repeat;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
  .catalog {
    margin: 0;
    li {
      position: relative;
      padding-left: 16px;
      margin-bottom: 0;
      padding-bottom: 1rem;
      &:last-child {
        padding-bottom: 0;
        &::after {
          display: none;
        }
      }
      &.active {
        color: $primary;
      }
      &.active::before {
        background-color: $primary;
        border: solid 1px $primary;
      }
      &.active::after {
        border-left: dashed 1px $primary;
      }
      &::before {
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        display: block;
        border: solid 1px $dark;
        border-radius: 100px;
        left: 0;
        top: 5px;
        background-color: #fff;
      }
      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 100%;
        display: block;
        border-left: dashed 1px $dark;
        left: 4px;
        top: 13px;
      }
    }
  }
}

.screen-reader-text {
  display: none;
}
.navigation.pagination {
  .nav-links {
    margin: 0 auto;
    font-size: 18px;
    .page-numbers {
      padding: 5px;
      margin: 0 5px;
    }
    .nav-prev-text,
    .nav-next-text {
      display: none;
    }
  }
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media(min-width: 992px){
    flex-direction: row;
  }
  label {
    margin: 1rem;
    width: 100%;
    max-width: 750px;
  }
  .search-field {
    background-color: #fff;
    border-radius:6px;
    border:2px solid rgba(201,213,220,1);
    padding: 1rem;
    width: 100%;
  }
  .search-submit {
    background-color: $primary;
    color: #fff;
    padding: 0.6rem 2rem;
    font-size: 24px;
    border: none;
    border-radius:6px;
    &:hover {
      background-color: #007df1;
      box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
    }
  }
}

// pace
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
