@import "./variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities";

// global
.link-inherit {
  a {
    color: inherit;
  }
}
.form-control:focus {
  border-color: inherit;
  box-shadow: none;
}
.transition,
.transition * {
  transition: all .2s;
}
h6,
.h6 {
  font-size: 1.125rem;
}
main {
  min-height: 100vh;
}
[data-toggle="dropdown"][aria-expanded="true"]::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: auto;
}
.bg-gray {
  background-color: #fafbfd;
}
.box-shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
details {
  padding-bottom: 2rem;
  border-bottom: solid 1px #ccc;
  margin-bottom: 1rem;
  p {
    padding-left: 1.625rem;
  }
  &[open] {
    padding-bottom: 1rem;
    summary {
      color: $primary;
      margin-bottom: 1rem;
      &::before {
        background-image: url('../../public/images/icon-bottom.svg');
      }
    }
  }
}
summary {
  position: relative;
  font-size: 1.25rem;
  padding-left: 1.625rem;
  &::-webkit-details-marker {
    display: none;
  }
  &::before {
    position: absolute;
    left: 0;
    top: 0.45rem;
    content: '';
    width: 1rem;
    height: 1rem;
    background-image: url('../../public/images/icon-right.svg');
    background-size: 1rem;
  }
  &:hover {
    color: $primary;
  }
  &:focus {
    outline: none;
  }
}
.container-md {
  @media (min-width: 992px) {
    max-width: 960px;
  }
}
.bg-linear-primary {
  background: linear-gradient(to right, $primary, #00e7ff);
}
// header
.navbar {
  .navbar-brand {
    img {
      height: 26px;
    }
  }
  .navbar-toggler {
    border: none;
    padding: 0;
    &:focus {
      outline: none;
    }
    .navbar-toggler-icon {
      background-size: 1.5rem;
    }
    &[aria-expanded="true"] {
      .navbar-toggler-icon {
        background-image: url('data:image/svg+xml,<svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"></path><path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"></path></svg>');
        background-size: 2rem;
        opacity: 0.5;
      }
    }
  }
  .navbar-nav {
    .nav-link {
      font-weight: 700;
    }
  }
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: $danger;
}

// footer
footer {
  a:hover {
    color: #fff;
    text-decoration: none;
  }
}

// home
#news-and-tips {
  .list {
    li {
      position: relative;
      padding-left: 2rem;
      display: block;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: url('data:image/svg+xml,<svg class="bi bi-arrow-right-short" width="1.5rem" height="1.5rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"></path><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"></path></svg>') center no-repeat;
        width: 1.5rem;
        height: 1.5rem;
        opacity: 0.25;
      }
      &:hover {
        a {
          color: $primary;
          text-decoration: none;
        }
        &::before {
          background: url('data:image/svg+xml,<svg class="bi bi-arrow-right-short" width="1.5rem" height="1.5rem" viewBox="0 0 16 16" fill="rgba(0,121,255,1)" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"></path><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"></path></svg>') center no-repeat;
          opacity: 1;
        }
      }
    }
  }
}
#software {
  .box {
    @media(min-width: 992px) {
      transform: translateY(-20%);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

// purchase
#purchase-banner {
  .list li {
    padding-left: 30px;
    background: url('../../public/images/icon2.svg') left no-repeat;background-size: 26px;
  }
}
#purchase-cart {
  .countdown {
    .box {
      min-width: 72px;
      @media (min-width: 992px) {
        min-width: 92px;
      }
    }
    .num {
      font-size: 24px;
      @media (min-width: 992px) {
        font-size: 40px;
      }
    }
  }
}
// article
article {
  h2 {
    font-weight: normal;
  }
  h1, h2, h3, h4, h5, h6, p, ul, img {
    margin-bottom: 1.5rem;
  }
  li {
    margin-bottom: 1rem;
  }
  details {
    padding-bottom: 0;
    border-bottom: 0;
    &[open] {
      margin-bottom: 0;
      padding-bottom: 0;
      summary::after {
        transform: rotate(90deg);
      }
    }
  }
  summary {
    padding: .5rem 1.5rem .5rem 1rem;
    border-left: solid $primary 0.25rem;
    background-color: $secondary;
    &::before {
      display: none;
    }
    &::after {
      @media(min-width: 992px) {
        content: '';
        position: absolute;
        top: .5rem;
        right: 1rem;
        background: url('data:image/svg+xml,<svg class="bi bi-caret-right-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="rgba(0,121,255,1)" xmlns="http://www.w3.org/2000/svg"><path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg>') center no-repeat;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
