@import "./variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities";
@import "~balloon-css/src/balloon";
@import "~cookies-eu-banner/css/cookies-eu-banner.default.css";

html {
  overflow-x: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}
body {
  @media(min-width: 992px) {
    padding-top: 60px;
  }
}
.wf-active body {
  font-family: 'Muli';
}

[aria-label][data-balloon-pos]:after {
  white-space: pre-wrap;
  width: 240px;
}

// global
[data-dev="mobile"] {
  .dev-desktop {
    display: none;
  }
}
[data-dev="desktop"] {
  .dev-mobile {
    display: none;
  }
}
[data-sys="ios"] {
  .sys-win,
  .sys-mac,
  .sys.android {
    display: none;
  }
}
[data-sys="android"] {
  .sys-win,
  .sys-mac,
  .sys.ios {
    display: none;
  }
}
[data-sys="win"] {
  .sys-android,
  .sys-mac,
  .sys.ios {
    display: none;
  }
}
[data-sys="mac"] {
  .sys-android,
  .sys-win,
  .sys.ios {
    display: none;
  }
}
.link-inherit {
  a {
    color: inherit;
    &:hover {
      color: $primary;
    }
  }
}
.link-underline {
  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      color: $primary;
    }
  }
}
.form-control:focus {
  border-color: inherit;
  box-shadow: none;
}
.transition,
.transition * {
  transition: all .2s;
}
h6,
.h6 {
  font-size: 1.125rem;
}
main {
  min-height: 100vh;
}
[data-toggle="dropdown"][aria-expanded="true"]::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: auto;
}
[data-toggle="dropdown"][aria-expanded="true"]::after {
  transform: rotate(180deg);
}
.bg-gray {
  background-color: #f2f7fa;
}
.box-shadow {
  box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
}
.hover-box-shadow:hover {
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.06);
}
.hover-unstyled:hover {
  text-decoration: none;
}
.wall {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}
.text-small {
  font-size: 14px;
}
.text-tiny {
  font-size: 12px;
}
details {
  margin-bottom: 1.5rem;
  background-color: #f2f7fa;
  p {
    padding-left: 1.625rem;
  }
  ul {
    padding-left: 3rem;
  }
  &[open] {
    padding-bottom: 1rem;
    summary {
      color: $primary;
      margin-bottom: 1rem;
      &::before {
        transform: rotate(-45deg);
      }
    }
  }
}
summary {
  position: relative;
  font-size: 1.25rem;
  padding: .5rem 0 .5rem 1.625rem;
  background-color: #E6F2FB;
  &::-webkit-details-marker {
    display: none;
    font-size: 0;
  }
  &::marker {
    display: none;
    font-size: 0;
  }
  &::before {
    position: absolute;
    right: 1rem;
    top: .3rem;
    content: '+';
    font-size: 1.5rem;
    display: block;
    transition: all 0.2s linear;
    transform-origin: center;
  }
  &:hover {
    color: $primary;
  }
  &:focus {
    outline: none;
  }
}
ul {
  padding-left: 1.5rem;
}
ul.list-go {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    position: relative;
    padding-left: 2.5rem;
    margin-bottom: 1.5rem;
    a {
      color: inherit;
      &:hover {
        color: $primary;
      }
    }
    &::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="rgba(44,143,255,1)" class="bi bi-arrow-right-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/></svg>');
      left:0;
      top: 50%;
      transform: translateY(-12px);
    }
  }
}
ul.list-faqs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    position: relative;
    padding-left: 2rem;
    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: url('../../public/images/ad-icon-faq.svg');
      left:0;
      top: 0;
    }
  }
}
.container-md {
  @media (min-width: 992px) {
    max-width: 960px;
  }
}
.bg-linear-primary {
  background: linear-gradient(to right, #5BD0FF, #5091FF);
}
.star-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    width: 1rem;
    height: 1rem;
    text-indent: -9999px;
    margin: 0 0.2rem;
    &:first-child,
    &:last-child {
      margin: 0;
    }
  }
  .star-full {
    background-image: url('data:image/svg+xml,<svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-star-fill" fill="rgba(255,199,48,1)" xmlns="http://www.w3.org/2000/svg"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/></svg>');
  }
}
.btn-purchase {
  background: linear-gradient(to right, #44E0D7, #68FF9F);
  color: $white;
  min-width: 200px;
  border-radius: 2px;
}
.btn-secondary:hover {
  background-color: #E6F2FB;
  border-color: #E6F2FB;
  color: $primary;
}
.flex-1 {
  flex: 1;
}
// header
header {
  box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
  @media(min-width: 992px) {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 59;
    background-color: #fff;
  }
}
.navbar {
  .navbar-brand {
    img {
      height: 26px;
    }
  }
  .navbar-toggler {
    border: none;
    padding: 0;
    &:focus {
      outline: none;
    }
    .navbar-toggler-icon {
      background-size: 1.5rem;
    }
    &[aria-expanded="true"] {
      .navbar-toggler-icon {
        background-image: url('data:image/svg+xml,<svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"></path><path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"></path></svg>');
        background-size: 2rem;
        opacity: 0.5;
      }
    }
  }
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: $danger;
}
#fixed-navbar {
  box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
}

// footer
footer {
  a:hover, a:focus {
    color: #fff !important;
    text-decoration: none;
  }
  .dropdown {
    @media(max-width: 991px) {
      text-align: center;
      a {
          font-size: 16px;
      }
      .dropdown-menu {
        left: 50%;
        margin-left: -80px;
        top: 100%;
      }
    }
  }
  .row {
    h6 {
      @media(max-width: 991px) {
        &::after {
          content: '';
          width: 14px;
          height: 14px;
          display: block;
          position: absolute;
          right: 1rem;
          top: 4px;
          background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="rgba(255,255,255,1)" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>')
        }
        &.active + ul {
          max-height: 200px;
        }
        &.active::after {
          transform: rotate(180deg);
        }
      }
    }
    ul {
      @media(max-width: 991px) {
        max-height: 0;
        overflow: hidden;
      }
    }
  }
}

// home
#news-and-tips {
  .list {
    li {
      position: relative;
      padding-left: 2rem;
      display: block;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: url('../../public/images/icon-right2.svg') center no-repeat;
        width: 1.5rem;
        height: 1.5rem;
      }
      &:hover {
        a {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }
}
#software {
  .box {
    @media(min-width: 992px) {
      transform: translateY(-20%);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

.screen-reader-text {
  display: none;
}
.navigation.pagination {
  .nav-links {
    margin: 0 auto;
    font-size: 18px;
    .page-numbers {
      padding: 5px;
      margin: 0 5px;
    }
    .nav-prev-text,
    .nav-next-text {
      display: none;
    }
  }
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media(min-width: 992px){
    flex-direction: row;
  }
  label {
    margin: 1rem;
    width: 100%;
    max-width: 750px;
  }
  .search-field {
    background-color: #fff;
    border-radius:6px;
    border:2px solid rgba(201,213,220,1);
    padding: 1rem;
    width: 100%;
  }
  .search-submit {
    background-color: $primary;
    color: #fff;
    padding: 0.6rem 2rem;
    font-size: 24px;
    border: none;
    border-radius:6px;
    &:hover {
      background-color: #007df1;
      box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1);
    }
  }
}

// pace
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

[data-show-store] {
  display: none;
}

.swal2-html-container .d-none {
  display: block !important;
}
