$navbar-nav-link-padding-x: 1.5rem !default;

$danger: #fc623a !default;
$success: #3de000 !default;
$primary: #1890FF !default;
$secondary: #f0f0f0 !default;
$body-color: #333333 !default;

$line-height-base: 1.7 !default;
$border-radius: .5rem !default;
