<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Mobitrix</title>
</head>
<body>
  <%= require('html-loader!../common/header.ejs') %>
  <main>
    <div data-page="purchase"></div>
    <section>
      <div id="purchase-banner" class="py-4 bg-gray">
        <div class="container">
          <div class="row align-items-center no-gutters">
            <div class="col-lg-8">
              <p class="text-muted mb-1 h6">You are purchasing</p>

              <h1 class="h2 mb-4 font-weight-bold">Mobitrix WhatsApp Transfer (Windows)</h1>
              <ul class="list2 list-unstyled text-muted">
                <li>Keycode instantly sent after purchase</li>
                <li>24h*7 customer support</li>
                <li>Free lifetime update</li>
              </ul>
            </div>
            <div class="col-lg-4">
              <div class="d-flex align-items-center">
                <div class="mx-2 rounded overflow-hidden"><img class="img-fluid" style="height:71px;" src="https://www.mobitrix.com/wp-content/uploads/2021/01/secure.png" alt=""></div>
                <div class="mx-2 rounded overflow-hidden"><img class="img-fluid" style="height:71px;" src="https://www.mobitrix.com/wp-content/uploads/2021/01/norton.png" alt=""></div>
                <div class="mx-2 rounded overflow-hidden"><img class="img-fluid" style="height:71px;" src="https://www.mobitrix.com/wp-content/uploads/2021/01/trustwave.png" alt=""></div>
              </div>
              <p class="text-center"><a href="#">Go to Mac Version <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path></svg></a></p>

            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div id="purchase-cart" class="py-5 pt-lg-0 text-center">
        <div class="container">
          <div class="mt-n5 bg-white rounded d-inline-block px-4 py-3">
            <h5 class="mb-2">Your memories are worth more than $20</h5>
            <div class="d-flex justify-content-center align-items-center mb-5 countdown countdown-new">
              <div class="d-none d-lg-block">
                <div class="text-tiny text-muted font-weight-bold">Limited Time Promotion</div>
              </div>
              <div class="box">
                <p id="days" class="num font-weight-bold mb-0">12</p>

              </div>
              <span class="text-muted">:</span>
              <div class="box">
                <p id="hours" class="num font-weight-bold mb-0">34</p>

              </div>
              <span class="text-muted">:</span>
              <div class="box">
                <p id="minutes" class="num font-weight-bold mb-0">56</p>

              </div>
              <span class="text-muted">:</span>
              <div class="box">
                <p id="seconds" class="num font-weight-bold mb-0">56</p>

              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-4 py-3">
              <div class="rounded box-shadow">
                <div class="pt-5 pb-3 rounded-top bg-primary position-relative">
                  <div class="discount-label">60%OFF</div>
                  <h4 class="text-white">Lifetime License</h4>
                  <p class="small text-white mb-1">1-5 Devices, 1PC</p>

                </div>

                <hr class="m-0">

                <div class="p-4 pb-5">
                  <h1 class="text-danger mb-4">$19.95 <small class="h6"><del class="small text-muted"> $49.88</del></small></h1>
                  <a href="https://order.shareit.com/cart/add?vendorid=200287565&amp;PRODUCT[300987121]=1&amp;_ga=2.34212769.1801270409.1594444374-1235129099.1593352635" class="btn btn-purchase"><span class="font-weight-bold px-4"><svg class="align-top mr-1" style="height: 1.6rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><path d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z"></path></svg>BUY NOW</span></a>

                </div>
              </div>
            </div>
            <div class="col-lg-4 py-3">
              <div class="rounded box-shadow">
                <div class="pt-5 pb-3 rounded-top bg-gray position-relative">
                  <div class="discount-label">50%OFF</div>
                  <h4>1-Year License</h4>
                  <p class="small text-muted mb-1">1-5 Devices, 1PC</p>

                </div>

                <hr class="m-0">

                <div class="p-4 pb-5">
                  <h1 class="text-danger mb-4">$16.95 <small class="h6"><del class="small text-muted"> $33.99</del></small></h1>
                  <a href="https://order.shareit.com/cart/add?vendorid=200287565&amp;PRODUCT[300986057]=1&amp;_ga=2.75173394.1801270409.1594444374-1235129099.1593352635" class="btn btn-purchase"><span class="font-weight-bold px-4"><svg class="align-top mr-1" style="height: 1.6rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><path d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z"></path></svg>BUY NOW</span></a>

                </div>
              </div>
            </div>
            <div class="d-flex my-5 align-items-center justify-content-center">
              <p class="h6 mr-4 mb-0">We accept:</p>

              <div class="d-flex flex-wrap">
                <div class="m-2"><img src="https://www.mobitrix.com/wp-content/uploads/2021/01/paypal.svg"></div>
                <div class="m-2"><img src="https://www.mobitrix.com/wp-content/uploads/2021/01/VISA.svg"></div>
                <div class="m-2"><img src="https://www.mobitrix.com/wp-content/uploads/2021/01/master.svg"></div>
                <div class="m-2"><img src="https://www.mobitrix.com/wp-content/uploads/2021/01/American.svg"></div>
                <div class="m-2"><img src="https://www.mobitrix.com/wp-content/uploads/2021/01/wire.svg"></div>
                <div class="m-2"><img src="https://www.mobitrix.com/wp-content/uploads/2021/01/direct.svg"></div>
                <div class="m-2"><img src="https://www.mobitrix.com/wp-content/uploads/2021/01/giro.svg"></div>
                <div class="m-2"><img src="https://www.mobitrix.com/wp-content/uploads/2021/01/jcb.svg"></div>
                <div class="m-2"><img src="https://www.mobitrix.com/wp-content/uploads/2021/01/discover.svg"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="py-4 bg-gray">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 py-3">
              <h4 class="mb-4 font-weight-bold">Used and Recommended by nearly 150 million users worldwide</h4>
              <img style="height: 26px;" src="<%= process.env.IMAGE_PATH %>/icon5.svg" alt="">
            </div>
            <div class="col-lg-6 py-3 border-left pl-lg-4">
              <div class="px-4 pb-3" style="border: solid 4px #57c2ff;">
                <div class="bg-gray mt-n4 px-3 text-muted">
                  It works for my case. I transferred my WhatsApp data from my Huawei to new iPhone 11 without any problem.
                  <p class="m-0">- By Joseph 2020.04</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2 py-3 text-center">
              <img style="height:90px;" src="https://www.mobitrix.com/wp-content/uploads/2020/06/user-7.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="py-5 text-center">
        <div class="container">
          <div class="row justify-content-around mb-5">
            <div class="col-lg-3 col-md-6 py-3">
              <div class="h-100">
                <div class="d-flex align-items-end justify-content-center mb-4" style="height: 64px">
                  <svg width="41" height="53" viewBox="0 0 41 53" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M37.83 4.387L19.5 0 1.6 4.387 0 4.7v20.445c0 1.645.351 3.29 1.014 4.896.663 1.645 1.56 3.212 2.652 4.74 1.092 1.527 2.067 2.976 3.432 4.347 1.404 1.37 2.808 2.585 4.251 3.642 1.443 1.058 2.847 1.958 4.173 2.663 1.326.705 2.535 1.175 3.549 1.45L19.5 47l.468-.117c.975-.275 2.145-.745 3.471-1.45s2.652-1.605 4.056-2.663a35.047 35.047 0 0 0 4.095-3.642c1.365-1.371 2.847-2.82 3.861-4.348a24.383 24.383 0 0 0 2.574-4.74c.663-1.605.975-3.25.975-4.895V4.7l-1.17-.313z" id="b"></path><filter x="-6.4%" y="-5.4%" width="112.8%" height="117.2%" filterUnits="objectBoundingBox" id="a"><feMorphology radius="1" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology><feOffset dy="3" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset><feMorphology radius="1" in="SourceAlpha" result="shadowInner"></feMorphology><feOffset dy="3" in="shadowInner" result="shadowInner"></feOffset><feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite><feColorMatrix values="0 0 0 0 0.407843137 0 0 0 0 1 0 0 0 0 0.623529412 0 0 0 0.355386801 0" in="shadowOffsetOuter1"></feColorMatrix></filter></defs><g fill="none" fill-rule="evenodd"><g fill-rule="nonzero" transform="translate(1 1)"><use fill="#000" filter="url(#a)" xlink:href="#b"></use><use stroke="#2C8FFF" stroke-width="2" xlink:href="#b"></use></g><path stroke="#2C8FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M11.4 18.625h19.5M20.712 11.896v21.79"></path></g></svg>
                </div>
                <h5 class="mb-3">Secure</h5>
                <ul class="text-muted list-unstyled small mb-0">
                  <li class="mb-1">100% secure purchase &amp; download</li>
                  <li class="mb-1">Protection of privacy</li>
                  <li>No malware or virus</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 py-3">
              <div class="h-100">
                <div class="d-flex align-items-end justify-content-center mb-4" style="height: 64px">
                  <svg width="52" height="53" viewBox="0 0 52 53" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M4.39 44.263l-.17 2.351H0V22.158h4.143l.264 1.774c.16.057.33.179.484.163 4.285-.422 8.153.93 12.044 2.454 1.753.686 3.746.877 5.654 1.077 1.644.172 3.322.032 4.984.036 3.097.01 4.653 1.069 5.862 4.178 3.232-1.373 6.473-2.708 9.678-4.12 3.815-1.681 7.222-.25 8.042 3.44.441 1.98-.59 4.357-2.673 5.412a1867.003 1867.003 0 0 1-23.611 11.73c-1.995.975-4.147.834-6.247.155-3.767-1.218-7.525-2.465-11.303-3.648-.876-.275-1.82-.346-2.931-.546z" id="bb"></path><filter x="-2.9%" y="-5.6%" width="105.9%" height="122.4%" filterUnits="objectBoundingBox" id="aa"><feOffset dy="3" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset><feMorphology radius="2" in="SourceAlpha" result="shadowInner"></feMorphology><feOffset dy="3" in="shadowInner" result="shadowInner"></feOffset><feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite><feColorMatrix values="0 0 0 0 0.407843137 0 0 0 0 1 0 0 0 0 0.623529412 0 0 0 0.355386801 0" in="shadowOffsetOuter1"></feColorMatrix></filter><path d="M40.915 22.158c.583-1.624.899-3.362.899-5.169 0-9.005-7.85-16.305-17.535-16.305-9.684 0-17.535 7.3-17.535 16.305 0 .617.037 1.226.109 1.825" id="dd"></path><filter x="-7.1%" y="-11.6%" width="114.3%" height="138.6%" filterUnits="objectBoundingBox" id="cc"><feMorphology radius="1" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology><feOffset dy="3" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset><feMorphology radius="1" in="SourceAlpha" result="shadowInner"></feMorphology><feOffset dy="3" in="shadowInner" result="shadowInner"></feOffset><feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite><feColorMatrix values="0 0 0 0 0.407843137 0 0 0 0 1 0 0 0 0 0.623529412 0 0 0 0.355386801 0" in="shadowOffsetOuter1"></feColorMatrix></filter></defs><g fill-rule="nonzero" fill="none"><g transform="translate(0 1)"><use fill="#000" filter="url(#aa)" xlink:href="#bb"></use><path stroke="#2C8FFF" stroke-width="2" d="M3.28 23.158H1v22.456h2.29l.183-2.532 1.094.197c.353.064.69.114 1.011.162.736.11 1.405.214 2.042.414 2.6.814 5.19 1.658 7.78 2.503 1.177.383 2.354.767 3.531 1.148 1.844.596 3.74.758 5.5-.102a1866.021 1866.021 0 0 0 23.6-11.725 4.075 4.075 0 0 0 1.804-1.839c.386-.78.523-1.662.344-2.463-.329-1.479-1.151-2.534-2.307-3.028-1.215-.52-2.746-.423-4.355.286-2.227.98-4.47 1.925-6.717 2.87-.991.417-1.983.834-2.974 1.255l-.986.42c-.09-.31-.203-.635-.337-.978-.511-1.315-1.069-2.227-1.856-2.788-.783-.558-1.775-.748-3.076-.752-.518-.001-1.036.012-1.555.025-1.18.029-2.36.056-3.715-.086-1.941-.202-3.952-.425-5.73-1.121-4.005-1.568-7.981-2.971-13.017-2.481l-.273-1.841z" stroke-linejoin="square"></path></g><g transform="translate(0 1)"><use fill="#000" filter="url(#cc)" xlink:href="#dd"></use><use stroke="#2C8FFF" stroke-width="2" xlink:href="#dd"></use></g><path d="M18.294 24.72c1.496 0 2.718-.398 3.667-1.195.948-.797 1.422-1.898 1.422-3.303 0-.874-.207-1.62-.621-2.239-.415-.618-1.012-1.081-1.792-1.389.682-.328 1.214-.784 1.597-1.368a3.436 3.436 0 0 0 .574-1.924c0-1.398-.434-2.462-1.301-3.193-.868-.73-2.05-1.096-3.546-1.096-1.42 0-2.598.397-3.536 1.19-.938.794-1.386 1.774-1.343 2.942l.02.062h2.456c0-.615.228-1.127.685-1.536.457-.409 1.03-.613 1.718-.613.744 0 1.313.208 1.707.624.393.416.59.956.59 1.62 0 .74-.183 1.317-.548 1.73-.365.412-.963.618-1.792.618h-1.707v2.003h1.707c.865 0 1.51.213 1.934.64.425.426.638 1.073.638 1.94 0 .72-.229 1.308-.685 1.766-.457.458-1.072.687-1.844.687-.745 0-1.355-.218-1.829-.655a2.115 2.115 0 0 1-.711-1.62h-2.466l-.02.063c-.036 1.314.456 2.35 1.474 3.109 1.019.758 2.203 1.137 3.552 1.137zm12.255 0c1.525 0 2.742-.507 3.651-1.52.91-1.014 1.365-2.401 1.365-4.163v-4.33c0-1.755-.458-3.142-1.375-4.163-.917-1.02-2.138-1.53-3.662-1.53s-2.743.51-3.657 1.53c-.913 1.02-1.37 2.408-1.37 4.163v4.33c0 1.755.46 3.14 1.38 4.158.921 1.017 2.144 1.525 3.668 1.525zm0-2.034c-.787 0-1.398-.288-1.834-.865-.435-.577-.653-1.382-.653-2.417V14.32c0-1.02.214-1.82.643-2.396.428-.577 1.036-.865 1.823-.865.78 0 1.387.288 1.823.865.436.577.653 1.375.653 2.396v5.085c0 1.042-.212 1.85-.637 2.422-.425.573-1.031.86-1.818.86z" fill="#2C8FFF"></path></g></svg>
                </div>
                <h5 class="mb-3">Guarantee</h5>
                <ul class="text-muted list-unstyled small mb-0">
                  <li class="mb-1">30-day money back guarantee</li>
                  <li>Preview for free with trial version</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 py-3">
              <div class="h-100">
                <div class="d-flex align-items-end justify-content-center mb-4" style="height: 64px">
                  <svg width="49" height="54" viewBox="0 0 49 54" xmlns="http://www.w3.org/2000/svg"><defs><filter x="-16.3%" y="-15%" width="134.8%" height="128%" filterUnits="objectBoundingBox" id="aaa"><feOffset dy="3" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset><feMorphology radius="2" in="SourceAlpha" result="shadowInner"></feMorphology><feOffset dy="3" in="shadowInner" result="shadowInner"></feOffset><feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite><feColorMatrix values="0 0 0 0 0.407843137 0 0 0 0 1 0 0 0 0 0.623529412 0 0 0 0.355386801 0" in="shadowOffsetOuter1" result="shadowMatrixOuter1"></feColorMatrix><feMerge><feMergeNode in="shadowMatrixOuter1"></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter></defs><g filter="url(#aaa)" transform="translate(1 1)" stroke="#2C8FFF" stroke-width="2" fill="none" fill-rule="evenodd"><path d="M6.86 50V38.266C1.077 28.746-1.05 20.636.48 13.94 2.773 3.894 14.078 0 21.043 0 28.01 0 33.528 3.638 35.79 6.02c1.507 1.587 3.02 4.648 4.538 9.182L46 26.027c-1.522 1.745-3.413 2.944-5.673 3.597v5.75c-.663 3.958-3.723 5.937-9.178 5.937V50M21.029 18.421V0"></path><ellipse cx="20.371" cy="24.342" rx="5.914" ry="5.921"></ellipse><path d="M31.543 32.895l-6.572-5.263"></path><ellipse cx="31.543" cy="32.895" rx="1.314" ry="1.316"></ellipse></g></svg>
                </div>
                <h5 class="mb-3">Support</h5>
                <ul class="text-muted list-unstyled small mb-0">
                  <li class="mb-1">One-to-one support</li>
                  <li class="mb-1">Professional telephony stand by</li>
                  <li>Quick response within 24 hours</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 py-3">
              <div class="h-100">
                <div class="d-flex align-items-end justify-content-center mb-4" style="height: 64px">
                  <svg width="50" height="55" viewBox="0 0 50 55" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M44.83 20.013H32.21C37.1.973 28.841 0 28.841 0c-3.5 0-2.775 2.918-3.04 3.405 0 9.312-9.38 16.608-9.38 16.608V46.42c0 2.607 3.37 3.545 4.69 3.545h18.96c1.785 0 3.238-4.934 3.238-4.934C48 28.214 48 23.211 48 23.211c0-3.475-3.17-3.198-3.17-3.198z" id="bbbb"></path><filter x="-7.9%" y="-5%" width="115.8%" height="116%" filterUnits="objectBoundingBox" id="aaaa"><feMorphology radius="1" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology><feOffset dy="3" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset><feMorphology radius="1" in="SourceAlpha" result="shadowInner"></feMorphology><feOffset dy="3" in="shadowInner" result="shadowInner"></feOffset><feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite><feColorMatrix values="0 0 0 0 0.407843137 0 0 0 0 1 0 0 0 0 0.623529412 0 0 0 0.355386801 0" in="shadowOffsetOuter1"></feColorMatrix></filter><path d="M9.395 20.499H1.629C.025 20.499 0 22.089 0 22.089l1.604 26.208c0 1.668 1.655 1.668 1.655 1.668h6.722c1.4 0 1.387-1.103 1.387-1.103V22.486c0-2.013-1.973-1.987-1.973-1.987z" id="dddd"></path><filter x="-22%" y="-8.5%" width="144%" height="127.1%" filterUnits="objectBoundingBox" id="cccc"><feMorphology radius="1" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology><feOffset dy="3" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset><feMorphology radius="1" in="SourceAlpha" result="shadowInner"></feMorphology><feOffset dy="3" in="shadowInner" result="shadowInner"></feOffset><feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite><feColorMatrix values="0 0 0 0 0.407843137 0 0 0 0 1 0 0 0 0 0.623529412 0 0 0 0.355386801 0" in="shadowOffsetOuter1"></feColorMatrix></filter></defs><g fill-rule="nonzero" fill="none"><g transform="translate(1 1)"><use fill="#000" filter="url(#aaaa)" xlink:href="#bbbb"></use><use stroke="#2C8FFF" stroke-width="2" xlink:href="#bbbb"></use></g><g transform="translate(1 1)"><use fill="#000" filter="url(#cccc)" xlink:href="#dddd"></use><use stroke="#2C8FFF" stroke-width="2" xlink:href="#dddd"></use></g></g></svg>
                </div>
                <h5 class="mb-3">1,000,000+</h5>
                <ul class="text-muted list-unstyled small mb-0">
                  <li class="mb-1">Numerous users satisfied</li>
                  <li>Users spread all over the world</li>
                </ul>
              </div>
            </div>
          </div>
          <h2 class="mb-5">Worry Free Guarantee</h2>
          <div class="d-flex flex-wrap justify-content-center">
            <div class="m-2 mx-lg-4">
              <img style="height: 32px;" src="https://www.mobitrix.com/wp-content/uploads/2021/01/ssl.png">
            </div>
            <div class="m-2 mx-lg-4">
              <img style="height: 32px;" src="https://www.mobitrix.com/wp-content/uploads/2021/01/clean.png">
            </div>
            <div class="m-2 mx-lg-4">
              <img style="height: 32px;" src="https://www.mobitrix.com/wp-content/uploads/2021/01/certificated.png">
            </div>
            <div class="m-2 mx-lg-4">
              <img style="height: 32px;" src="https://www.mobitrix.com/wp-content/uploads/2021/01/buy-bbb.png">
            </div>
            <div class="m-2 mx-lg-4">
              <img style="height: 32px;" src="https://www.mobitrix.com/wp-content/uploads/2021/01/buy-norton.png">
            </div>
            <div class="m-2 mx-lg-4">
              <img style="height: 32px;" src="https://www.mobitrix.com/wp-content/uploads/2021/01/buy-mcafee.png">
            </div>
          </div>
          <div class="text-left pt-5 mx-auto" style="max-width: 960px;">
            <h6 class="mb-4">Important information to note:</h6>
            <ul class="text-muted small list2 list-unstyled">
              <li class="mb-3">It is 100% safe to order online. Any exchange of data during the payment process is protected by our website’s secure SSL certificate.</li>
              <li class="mb-3">After your order is validated, all of your order information, including registration code and licensed email, will be automatically sent to your email address.</li>
              <li class="mb-3">You can contact us at any time if you don’t receive the order email as expected.</li>
              <li>For those of you that you don’t check your email inbox regularly, you can add support#mobitrix.com (by replacing # with @) and add us to your white list.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%= require('html-loader!../common/footer.ejs') %>
</body>
</html>
