<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title></title>
</head>
<body data-page="purchase">
  <%= require('html-loader!../common/header.ejs') %>
  <main>
    <section data-page="faq">
      <div id="purchase-banner" class="py-4 bg-gray">
        <div class="container-sm">
          <div class="row align-items-center no-gutters">
            <div class="col-12">
              <h1 class="h2 mb-4 font-weight-bold">Transfer All Your WhatsApp Chats!</h1>
              <ul class="list2 list-unstyled text-muted">
                <li>30-day money-back guarantee</li>
                <li>100% Secure</li>
                <li>Free Updates</li>
                <li>License code will be sent to your email</li>
              </ul>
            </div>
            <div class="col-12 pt-3">
              <div class="d-flex align-items-center">
                <div class="rounded overflow-hidden"><img class="img-fluid lazy" style="height:71px;" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E" data-src="https://www.mobitrix.com/images/article/en/secure.png" alt=""></div>
                <div class="rounded overflow-hidden"><img class="img-fluid lazy" style="height:71px;" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E" data-src="https://www.mobitrix.com/images/article/en/norton.png" alt=""></div>
                <div class="rounded overflow-hidden"><img class="img-fluid lazy" style="height:71px;" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E" data-src="https://www.mobitrix.com/images/article/en/trustwave.png" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div id="purchase-cart" class="py-4 text-center">
        <div class="container-sm">
          <div class="text-muted link-inherit text-left">
            <a href="javascript:;" class="mr-3" data-toggle="platform" data-target="android">
              <svg width="28" height="28" class="align-bottom" viewBox="0 0 24 24" fill="currentColor"><use xlink:href="#win-path"></use></svg>
              <span>For Windows</span>
            </a>
            <a href="javascript:;" data-toggle="platform" data-target="ios">
              <svg width="28" height="28" class="align-bottom" viewBox="0 0 24 24" fill="currentColor"><use xlink:href="#mac-path"></use></svg>
              <span>For Mac</span>
            </a>
          </div>
          <hr style="border-style: dashed;" />
          <div class="bg-white w-100 rounded d-inline-block py-3">
            <div class="d-flex justify-content-start align-items-center mb-3 countdown countdown-new">
              <div class="pr-3">
                <div class="small text-muted font-weight-bold">Limited Offer ending in</div>
              </div>
              <div>
                <p id="days" class="text-primary font-weight-bold h5 mb-0 d-none">12</p>
              </div>
              <span class="text-muted mx-1 d-none">:</span>
              <div>
                <p id="hours" class="text-primary font-weight-bold h5 mb-0">34</p>
              </div>
              <span class="text-muted mx-1">:</span>
              <div>
                <p id="minutes" class="text-primary font-weight-bold h5 mb-0">56</p>
              </div>
              <span class="text-muted mx-1">:</span>
              <div>
                <p id="seconds" class="text-primary font-weight-bold h5 mb-0">56</p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 py-3">
              <div class="rounded box-shadow border border-primary">
                <div class="pt-5 pb-3 rounded-top bg-primary position-relative">
                  <div class="discount-label">40% OFF</div>
                  <h2 class="text-white font-weight-bold">Lifetime</h2>
                  <p class="small text-white mb-1">1-5 Devices, 1PC</p>
                </div>
                <hr class="m-0">
                <div class="p-4">
                  <p class="text-danger font-weight-bold h1">$19.95 <small class="h6"><del class="small text-muted"> $49.95</del></small></p>
                  <p class="text-muted small mb-4"> With extre coupon price is $14</p>
                  <a href="https://mobitrix.onfastspring.com/mobitrix-whatsapp-transfer-win-lifetime" class="btn btn-purchase mb-3 sys-android"><span class="font-weight-bold px-4"><svg class="align-top mr-3" style="height: 1.6rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><use xlink:href="#win-path"></use></svg>BUY NOW</span></a>
                  <a href="https://mobitrix.onfastspring.com/mobitrix-whatsapp-transfer-win-lifetime" class="btn btn-purchase mb-3 sys-ios"><span class="font-weight-bold px-4"><svg class="align-top mr-3" style="height: 1.6rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><use xlink:href="#mac-path"></use></svg>BUY NOW</span></a>
                </div>
              </div>
            </div>
            <div class="col-12 py-3">
              <div class="rounded box-shadow">
                <div class="pt-4 pb-3 rounded-top bg-gray position-relative">
                  <h4>1-Year</h4>
                  <p class="small text-muted mb-1">1-5 Devices, 1PC</p>
                </div>
                <hr class="m-0">
                <div class="p-4">
                  <p class="text-danger font-weight-bold h1">$16.95 <small class="h6"><del class="small text-muted"> $24.95</del></small></p>
                  <p class="text-muted small mb-4"> With extre coupon price is $14</p>
                  <a href="https://mobitrix.onfastspring.com/mobitrix-whatsapp-transfer-win-1-year" class="btn btn-purchase mb-3 sys-android"><span class="font-weight-bold px-4"><svg class="align-top mr-3" style="height: 1.6rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><use xlink:href="#win-path"></use></svg>BUY NOW</span></a>
                  <a href="https://mobitrix.onfastspring.com/mobitrix-whatsapp-transfer-win-1-year" class="btn btn-purchase mb-3 sys-ios"><span class="font-weight-bold px-4"><svg class="align-top mr-3" style="height: 1.6rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><use xlink:href="#mac-path"></use></svg>BUY NOW</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5 bg-light">
      <div class="container-sm">
        <h4 class="mb-4">Why must use computer software to transfer</h4>
        <ul class="list-unstyled faq-list">
          <li>
            <details id="faq-1">
              <summary class="text-small">1. Will my device data be affected after using your software? </summary>
              <p class="text-muted">No. All the data on your iPhone or Android phone will not be affected.</p>
            </details>
          </li>
          <li>
            <details>
              <summary class="text-small">2. How long will it take to transfer WhatsApp messages? </summary>
              <p class="text-muted">The transferring time depends on the data size of the WhatsApp data to be transferred. Generally, it can be several minutes or an hour.</p>
            </details>
          </li>
          <li>
            <details>
              <summary class="text-small">3. What’s the Differences between the trial and full version? </summary>
              <p class="text-muted">You can use the free trial version to back up WhatsApp messages. To transfer or restore WhatsApp, you will need to upgrade from trial version to full version.</p>
            </details>
          </li>
          <li>
            <details>
              <summary class="text-small">4. Is it possible to restore WhatsApp without uninstalling this application? </summary>
              <p class="text-muted">With Mobitrix WhatsApp Transfer, you can restore your WhatsApp messages without uninstalling, but the existing WhatsApp data on your device will be overwritten by the data in the backup.</p>
            </details>
          </li>
          <li>
            <details>
              <summary class="text-small">5. Is it secure to install the customized WhatsApp on my device? </summary>
              <p class="text-muted">Yes. We guarantee that it is 100% safe to install the customized WhatsApp. We will never keep or use your device data. Therefore, you don’t have to worry about the data security.</p>
            </details>
          </li>
        </ul>
      </div>
    </section>
  </main>
</body>
</html>
